doctype html
html
  head
      title Lets talk about ... Example
      meta(charset='utf-8')
      script
        | window.PERMANENT_URL_PREFIX = window.PERMANENT_URL_PREFIX || 'node_modules/lets-talk-about--template/assets/vendor/';
      script(src='node_modules/lets-talk-about--template/assets/vendor/slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
  body
    section.slides.layout-regular.template-default
      article
        h1 New in JS
      article
        h1 Arrow functions
      article
        h2 Basic Example
        ul.build
          li
            pre
              | odds  = evens.map(function (v) {
              |   return v + 1;
              | });
          li
            pre
              | odds  = evens.map(v => v + 1);
      article
        h2 Multiple parameters
        ul.build
          li
            pre
              | nums = numbers.map(function (v, i) {
              |   return v + i;
              | });
          li
            pre
              | nums  = numbers.map((v, i) => v + i);
      article
        h2 Multiple actions
        ul.build
          li
            pre
              | let shift = false;
              | shiftPartial = numbers.map(v => {
              |   shift = !shift;
              |   return shift ? v + 1 : v;
              | });
      article
        h2 It's a Trap
        ul.build
          li
            pre
              | obj = values.map(v => { [v]: v });
      article
        h2 It can be a Trap
        ul
          li
            pre
              | obj = values.map(v => { [v]: v });
          li
            pre
              | obj = values.map(v => ({ [v]: v }));
      article
        h1 Promises
        ul.build
          li
            pre
              | function timeout(duration = 0) {
              |   return new Promise((resolve, reject) => {
              |     setTimeout(resolve, duration);
              |   });
              | }
      article
        h1 Async & Await
        ul.build
          li
            pre
              | async function work() {
              |   await timeout(10000);
              |   console.log('done');
              | }
              |
              | work();
      article
        h1 Rest Parameter
      article
        h2 ES 5
      article
        h2 ES 5
        ul.build
          li
            pre
              | function f (x, y) {
              |   var a = Array.prototype.slice.call(
              |     arguments, 2
              |   );
              |   return (x + y) * a.length;
              | };
              | f(1, 2, "hello", true, 7) === 9;
      article
        h2 ES 6
        ul.build
          li
            pre
              | function f (x, y, ...a) {
              |   return (x + y) * a.length;
              | }
              | f(1, 2, "hello", true, 7) === 9;
      article
        h1 Template literals
      article
        h2 ES 5
        ul.build
          li
            pre
              | console.log(
              |   "Hello " + firstName + ",\n" +
              |   "greetings from GLaDOS"
              | );
      article
        h2 ES 6
        ul.build
          li
            pre
              | console.log(`
              |   Hello ${firstName},
              |   greetings from GLaDOS
              | `);
      article
        h2 Its a trap
        ul.build
          li
            pre
              | \n
              | \tHello ${firstName},\n
              | \tgreetings from GLaDOS\n
      article
        h2 It can be a trap
        ul.build
          li
            pre
              | console.log(dedent`
              |   Hello ${firstName},
              |   greetings from GLaDOS
              | `);

    script(src='node_modules/lets-talk-about--template/assets/scripts/main.js')
